<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
</head>
<body>

	<header class="top-bar">
	<div class="logo">csnerd.is-not.cool</div>
	<nav>
    <a href="/">Home</a>
    <a href="blog">Blog</a>
    <a href="https://youtu.be/QDia3e12czc?si=aDFvo8-cJPh6yDLw">Surprise</a>
	</nav>
</header>

	<main>
		{{ content }}
	</main>

	<footer>
		<p>&copy; {{ 'now' | date: "%Y" }} csnerd</p>
	</footer>

</body>
</html>