<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
</head>
<body>

	<header>
		<nav>
			<a href="{{ '/' | relative_url }}">Home</a>
			<a href="{{ '/blog/' | relative_url }}">Blog</a>
		</nav>
	</header>

	<main>
		{{ content }}
	</main>

	<footer>
		<p>&copy; {{ 'now' | date: "%Y" }} csnerd</p>
	</footer>

</body>
</html>